<table>
<tr>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
</tr>
<% movies.each do |movie| %>
<tr>
    <td>
    <%= movie.title %>
    </td>
    <td>
    <%= movie.director %>
    </td>
    <td>
    <%= movie.year %>
    </td>
</tr>
<% end %>
</table>

<%= link_to "next", "/movies?start=#{next_start}"%>

<%= button_to "Add New Movie", "/movies/new", method: :get %>